<div>
  First Name: <%= @employee.first_name %><br>
  Last Name: <%= @employee.last_name %><br>
  Alias: <%= @employee.alias %><br>
  Title: <%= @employee.title %><br>
  Office: <%= @employee.office %><br>
  Picture: <img src="<%= @employee.img_url %>" alt="My Picture">

</div>
